* {
  margin: 0;
  padding: 0;
}

 @font-face {
  font-family: "Irish Grover";
  src: url(../public/fonts/IrishGrover-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

:root {
  --main-font: "Irish Grover";
  --second-font:"Inter";
  --bg-color: #000000;
  --text-color: white;
}

body {
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 0.8em;
}

/*HEADER*/
header {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

#logo {
  width: 104px;
  height: 44px;
}

header ul {
  padding: 0;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

header li {
  list-style: none;
  padding-top: 1em;
}

/*MOBILE FIRST - ACCUEIL*/
@media (max-width: 680px) {
  .titre {
    text-align: center;
    color: white;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .blockAcceuil {
    margin-top: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 100%;
  }

  .block1 {
    max-width: 170%;
    margin-left: -50%;
    margin-top: -3%;
  }
  .block2 {
    max-width: 180%;
    margin-left: -50%;
    margin-top: -60%;
  }
  .block3 {
    max-width: 170%;
    margin-right: -49%;
    margin-top: -178%;
  }
  .block4 {
    max-width: 141%;
    margin-right: -50%;
    margin-top: -100%;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: -22%;
  }
  .Suivant {
    color: white;
    background-color: #5f94c5;
    border: none;
    width: 40%;
    height: 3rem;
    border-radius: 12px;
    padding: 1rem;
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 1rem;
    font-style: normal;
  }
  .VoirFilm {
    color: white;
    background-color: #eb2027;
    border: none;
    width: 40%;
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 12px;
    font-family: var(--second-font);
    font-weight: 700;
    font-style: normal;
  }
}

/*SEARCH BAR*/
.searchBar{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

 .searchBar input {
  width: 70%;
  background-color: rgb(242, 240, 240);
  border-style: none;
  padding: 0.3em;
  opacity: 80%;
}

/*MOVIES*/
.search_result{
    display: flex;
    flex-wrap: wrap;
}

.search_results{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    margin-bottom: 1.5rem;
}

.search_results img{
    width: 80%;
}
/*EMOTICONES*/
.button-container{
    padding-left: 3.5rem;
}

.button-container button{
    color:var(--text-color);
    background-color:var(--bg-color);
    border-style: none;
    width: 25%;
    padding-left: 0.3rem;
}

.like-button , .dislike-button {
    filter:brightness(3)
}
/*TOUT CE QUI EST AU DESSUS DE CETTE LIGNE CONCERNE LE MOBILE, ET EN DESSOUS DE CETTE LIGNE LES RESPONSIVES DESKTOP*/
  @media screen and (min-width: 1024px) {
    /*RESPONSIVE DESKTOP HEADER*/
    body {
      font-size: 2rem;
    }

    #logo {
      width: 313px;
      height: 134px;
    }

    header ul {
      gap: 7rem;
      margin-right: 1rem;
    }

    /*RESPONSIVE DESKTOP SEARCH BAR*/
    .searchBar input {
      width: 30%;
      padding: 1em;
      margin: 1.5em;
    }

    /*RESPONSIVE DESKTOP MOVIES*/
    .search_results {
      width: 25%;
    }

    .search_results img {
      height: 80%;
    }

    /*RESPONSIVE DESKTOP EMOTICONES*/
    .button-container{
        width:100%;
        padding-left:28rem;
    }
    .button-container button{
        width:10%;
    }
  }

/*RESPONSIVE DESKTOP,TABLETTE ACCUEIL*/
@media (min-width: 681px) {
  .titre {
    text-align: center;
    color: white;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
  }

  .blockAcceuil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-left: 4%;

    max-width: 100%;
  }

  .block1 {
    max-width: 54%;
    margin-left: -10%;
    margin-right: 5%;
  }
  .block2 {
    max-width: 56%;
    margin-left: -45%;
  }
  .block3 {
    max-width: 52%;
    margin-left: -40%;
  }
  .block4 {
    max-width: 42%;
    margin-left: -33%;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: -4%;
  }
  .Suivant {
    color: white;
    background-color: #5f94c5;
    border: none;
    width: 12em;
    height: 5em;
    border-radius: 14%;
    font-size: 15px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  .VoirFilm {
    color: white;
    background-color: #eb2027;
    border: none;
    width: 12em;
    height: 5em;
    border-radius: 14%;
    font-size: 15px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
}

