/*MOBILE FIRST - ACCUEIL*/
@media (max-width: 680px) {
  .titre {
    text-align: center;
    color: white;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .button-suivant {
    background-color: #5f94c5;
    width: 50%;
    height: 3rem;
    border-radius: 12px;
    text-align: center;
    align-content: center;
  }

  .text-suivant,
  .text-all {
    color: white;
    background: none;
    border: none;
    text-align: center;
    font-size: 1em;
    font-family: var(--second-font);
    font-weight: 700;
    font-style: normal;
    margin-bottom: -40%;
  }

  .button-all {
    background-color: #eb2027;
    width: 50%;
    height: 3rem;
    border-radius: 12px;
    text-align: center;
    align-content: center;
    margin-bottom: 2rem;
  }
}

/*RESPONSIVE DESKTOP,TABLETTE ACCUEIL*/
@media (min-width: 681px) {
  .titre {
    text-align: center;
    color: white;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    padding:0;
    margin-bottom:4rem;
    
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5%;
  }
  .button-suivant {
    background-color: #5f94c5;
    width: 15%;
    height: 5rem;
    border-radius: 12px;
    text-align: center;
    align-content: center;
  }

  .text-suivant,
  .text-all {
    color: white;
    background: none;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--second-font);
    font-weight: 700;
    font-style: normal;
  }

  .button-all {
    background-color: #eb2027;
    width: 15%;
    height: 5rem;
    border-radius: 12px;
    text-align: center;
    align-content: center;
    margin-bottom: 10rem;
  }
}
