@font-face {
    font-family: "Irish Grover";
    src: url(../public/fonts/IrishGrover-Regular.ttf);
}

:root{
    --main-font : "Irish Grover";
    --bg-color : #000000;
    --text-color:white;
}

body {
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color:var(--text-color);
  font-size: 0.8em;
}

header {
display: flex;
padding:1em;
justify-content:space-between;
}

#logo {
width: 156px;
height: 68px;
}

header ul {
    padding:0;
    width:50%;
    display:flex;
    justify-content: flex-end;
    gap:1.5rem;
}

header li{
    list-style: none;
    padding: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 2rem;
    }

    #logo {
        width: 313px;
        height: 134px;
    }

    header ul{
        gap:7rem;
        margin-right: 1rem;
    }
}