form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  font-family: Arial, sans-serif;
}

form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

form button {
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

form button:hover {
  background-color: #45a049;
}

form div {
  margin-bottom: 15px;
}

h1 {
  font-family: var(--main-font);
  color: #ccc;
  padding: 1em;
}
