form {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 30px); /* Toujours un espace autour */
  max-width: 500px;
  margin: 30px auto;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: #4caf50;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

form button:hover {
  background: #45a049;
}

h1 {
  font-family: var(--main-font);
  color: #ccc;
  text-align: center;
  margin-bottom: 20px;
  font-size: clamp(1.5rem, 5vw, 2rem); /* Responsive */
}
