@font-face {
  font-family: "Irish Grover";
  src: url(../public/fonts/IrishGrover-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

:root {
  --main-font: "Irish Grover";
  --second-font: "Inter";
  --bg-color: #000000;
  --text-color: white;
}

.flexbox {
  text-align: center;
  color: black;
  border-radius: 10px;
  padding: 2rem;
  font-size: 1.0rem;
  font-family: var(--second-font);
  min-height: 4rem;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.click-event button {
  color: rgb(27, 26, 26);
  border: none;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.click-event button:hover {
  background-color: #798322f5;
}

/* Footer */
@media (max-width: 480px) {
  .flexbox {
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  .flexbox {
    flex-direction: column;
    text-align: center;
  }

  .click-event button {
    width: 100%;
    margin-top: 10px;
  }

  .flexbox .text-content {
    text-align: center;
  }
}

.personnage-image {
  position: fixed;
  bottom: -50px;
  left: -6%;
  z-index: 1;
}
