.loader {
  color: #eb2027;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;
  font-size: 60px;
  gap: 20px;
  letter-spacing: 15px;
}
@media (max-width: 680px) {
  .loader {
    margin-top: 35%;
    font-size: 30px;
    gap: 20px;
    letter-spacing: 15px;
  }
}
