@font-face {
  font-family: "Irish Grover";
  src: url(./fonts/IrishGrover-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

:root {
  --main-font: "Irish Grover";
  --second-font: "Inter";
  --bg-color: #000000;
  --text-color: white;
}

/*MOBILE FIRST*/
/*MOVIES*/
.search_result {
  display: flex;
  flex-wrap: wrap;
}

.search_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 1.5rem;
}

.recto,
.verso {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  font-size: 0.5rem;
  height: 12rem;
  background-color: #141414; /* Noir profond */
  color: #fff; /* Texte blanc */
  border: 1px solid #333; /* Bordure subtile */
  border-radius: 8px; /* Coins arrondis */
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* Ombre subtile */
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.recto img {
  width: 80%;
}

.verso p {
  font-family: var(--second-font);
  padding: 0.2rem;
}

.hidden {
  display: none;
}

/*EMOTICONES*/

.button-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-container button {
  color: var(--text-color);
  background-color: var(--bg-color);
  border-style: none;
  width: 14%;
}

.like-button,
.dislike-button {
  filter: brightness(3);
}
/*RESPONSIVE TABLETTES*/
@media screen and (min-width: 681px) and (max-width: 1023px) {
  /*MOVIES*/
  .search_results {
    width: 32%;
  }

  .recto,
  .verso {
    height: 30rem;
  }

  .verso p {
    padding: 2rem;
    font-size: 1rem;
  }

  .button-container button {
    font-size: 1rem;
  }
}

/*RESPONSIVE DESKTOP*/
@media screen and (min-width: 1024px) {
  /*MOVIES*/
  .search_results {
    width: 25%;
  }
  .button-container {
    height: 3rem;
  }

  .button-container button {
    width: 11%;
    font-size: 1.5rem;
  }

  .recto,
  .verso {
    height: 33rem;
  }

  .verso p {
    font-size: 1rem;
    padding: 1rem;
  }
}
