/*MOBILE FIRST*/
/*MOVIES*/
.search_result {
  display: flex;
  flex-wrap: wrap;
}

.search_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 1.5rem;
}

.search_results img {
  width: 80%;
}
/*EMOTICONES*/
.button-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-container button {
  color: var(--text-color);
  background-color: var(--bg-color);
  border-style: none;
  width: 14%;
}

.like-button,
.dislike-button {
  filter: brightness(3);
}
/*RESPONSIVE TABLETTES*/
@media screen and (min-width: 681px) and (max-width: 1023px) {
  /*MOVIES*/
  .search_results {
    width: 32%;
  }

  .button-container button {
    font-size: 1rem;
  }
}

/*RESPONSIVE DESKTOP*/
@media screen and (min-width: 1024px) {
  /*MOVIES*/
  .search_results {
    width: 25%;
  }
  .button-container {
    height: 3rem;
  }

  .button-container button {
    width: 11%;
    font-size: 1.5rem;
  }
}
