@font-face {
  font-family: "Irish Grover";
  src: url(../public/fonts/IrishGrover-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

:root {
  --main-font: "Irish Grover";
  --second-font: "Inter";
  --bg-color: #000000;
  --text-color: white;
}

/*MOBILE FIRST*/
/*MOVIES*/
.search_result {
  display: flex;
  flex-wrap: wrap;
}

.search_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 1.5rem;
}

.recto, .verso{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  width:80%;
  font-size:0.5rem;
  width:100%;
  height: 12rem;
  border: solid red 3px;
}

.recto img {
  width: 80%;
}

.verso p {
  font-family: var(--second-font);
  padding: 0.2rem;
}

.hidden{
  display:none;
}

  /*EMOTICONES*/

  .button-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .button-container button {
    color: var(--text-color);
    background-color: var(--bg-color);
    border-style: none;
    width: 14%;
  }

  .like-button,
  .dislike-button {
    filter: brightness(3);
  }
  /*RESPONSIVE TABLETTES*/
  @media screen and (min-width: 681px) and (max-width: 1023px) {
    /*MOVIES*/
    .search_results {
      width: 32%;
    }

    .button-container button {
      font-size: 1rem;
    }
  }

  /*RESPONSIVE DESKTOP*/
  @media screen and (min-width: 1024px) {
    /*MOVIES*/
    .search_results {
      width: 25%;
    }
    .button-container {
      height: 3rem;
    }

    .button-container button {
      width: 11%;
      font-size: 1.5rem;
    }

    .recto, .verso{
      height: 33rem;
    }

    .verso p{
      font-size: 1.2rem;
      padding:1rem;
    }
  }
