/* Style pour la barre de recherche */
.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.searchBar input {
  width: 70%;
  background-color: rgb(242, 240, 240);
  border-style: none;
  padding: 0.3em;
  opacity: 80%;
}

/* Style réactif pour la barre de recherche sur les écrans de bureau */
@media (min-width: 768px) {
  .searchBar input {
    width: 30%;
    padding: 1em;
    margin: 1.5em;
  }
}
